@mixin border-1px($color) {
  position: relative;
  &:after {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid $color;
  }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    &:after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7)
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    &:after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5)
    }
  }
}

@mixin bg-image($url) {
  background-image: url('../assets/@2x/'+ $url + '@2x.png');
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url('../assets/@3x/'+ $url + '@3x.png');
  }
}
