@mixin border-1px($color) {
  position: relative;
  &:after {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid $color;
  }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    &:after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7)
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    &:after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5)
    }
  }
}

@mixin bg-image($url) {
  background-image: url('../assets/@2x/'+ $url + '@2x.png');
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url('../assets/@3x/'+ $url + '@3x.png');
  }
}

.clear-fix {
  &:after {
    display: block;
    content: '.';
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin star($size,$marginRight,$starType) {
  width: $size;
  height: $size;
  margin-right: $marginRight;
  background-size: $size $size;
  &:last-child {
    margin-right: 0;
  }
  &.on {
    @include bg-image('star'+$starType+'_on')
  }
  &.off {
    @include bg-image('star'+$starType+'_off')
  }
  &.half {
    @include bg-image('star'+$starType+'_half')
  }
}

@mixin support-icon($size) {
  .icon {
    display: inline-block;
    width: $size;
    height: $size;
    background-size: 100% 100%;
    vertical-align: top;
    background-repeat: no-repeat;
    &.decrease {
      @include bg-image('decrease_1');
    }
    &.discount {
      @include bg-image('discount_1');
    }
    &.guarantee {
      @include bg-image('guarantee_1');
    }
    &.invoice {
      @include bg-image('invoice_1');
    }
    &.special {
      @include bg-image('special_1');
    }
  }
}

@mixin menu-item-icon($size) {
  display: inline-block;
  width: $size;
  height: $size;
  background-size: $size $size;
  vertical-align: top;
  background-repeat: no-repeat;
  &.decrease {
    @include bg-image('decrease_3');
  }
  &.discount {
    @include bg-image('discount_3');
  }
  &.guarantee {
    @include bg-image('guarantee_3');
  }
  &.invoice {
    @include bg-image('invoice_3');
  }
  &.special {
    @include bg-image('special_3');
  }

}
